#Ignoring specific folders
src/Guis/Resources/Other Resources
eggs/
Lib/
Scripts/
Include/
Basurero/
dist/
build/
build_ptgd/
share/
.venv/
.vscode/
.github/
*__pycache__

#Ignoring specific files
*NS-*
*.pem
*.pyc
*.spec
*/Luck-Debug.log
CACHEDIR.TAG
pyvenv.cfg
Luck.exe
Luck.bat
pyarmor.error.log

#Do not ignore these files
#!install_env.bat