#Ignoring specific folders
src_compiled/
eggs/
Include/
dist/
dist-msix/
msix/
build/
build_ptgd/
release/
share/
.venv/
.vscode/
.github/
.pytest_cache
*__pycache__

#Ignoring specific files
*NS-*
*.pem
*.pyc
*.spec
*Luck-Debug.log
pyarmor.error.log
Parallel

#Do not ignore these files
#!install_env.bat